@use 'vars';
@use 'mixins';

.contact {
    margin-top: 100px;
    color: vars.$text-color;
    display: flex;
}

.contact>h2 {
    padding-left: 50px;
}

.form-container>p {
    font-size: clamp(16px, 2vw, 18px);
    padding: 0 50px;
    max-width: 700px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 600px;
}

form {
    width: clamp(300px, 100%, 600px);
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 3em;
}

.form-element {
    font-size: clamp(16px, 3vw, 18px);
    font-family: 'Work Sans';
    font-weight: 100;
    border: none;
    border-bottom: solid 1px vars.$text-color;
    height: 28px;
    padding: 5px;
    background: transparent;
    color: vars.$text-color;
    &:focus {
        background: none;
        border: none;

        &::placeholder {
            color: transparent;
        }
    }


}

textarea[id=message] {
    height: 20vh;
    border: solid 1px vars.$text-color;
    padding: 10px;
    font-family: 'Work Sans';
}


button[type=submit] {
    background: transparent;
    border: solid 1px vars.$text-color;
    cursor: pointer;
    padding: 5px 20px;
    font-size: clamp(16px, 4vw, 18px);
    font-family: 'Trispace',
    sans-serif;
    width: fit-content;
    transition: 0.3s;
    color: vars.$text-color;
    &:hover {
        color: rgb(77, 77, 77);
        background: vars.$text-color;
    }
}

.links-section {
 display: flex;
 flex-direction: column;
 gap: 1em;
 margin-left: 4em;
 margin-top: 2em;
 a {
    text-decoration: underline;
   }
}

.footer--contact {
    position: absolute;
    background: transparent;
    bottom: 0;
}

@media screen and (max-width: 1024px) and (max-height: 500px) {

    .contact {
        padding-top: 30vh;
        flex-direction: row;
        height: 150vh;
    }

    .form-container {
        flex-direction: row;
        min-width: 300px;
        max-width: 560px;
    }

}

@media screen and (max-width: 768px) {

    .contact {
        flex-direction: column;
    }

    form {
        align-items: center;
    }

    .form-element {
        width: 100%;
    }

    .links-section {
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
    }

}