@use 'vars';
@use 'mixins';
                     
.about-container { 
    @include mixins.center-aligned;
    background: vars.$main-bkg-color;
    color: vars.$text-color;
    line-height: 1.35em;
    z-index: 10;
    position: relative;
}

#about {
    max-width: 80vw;
    height: 100%;
    p {
    height: 80vh;
    min-width: 365px; 
    position: relative;
    z-index: 4;
    padding: 25vh 5vw 10vh 10vw;
  }

}

footer {
    height: 8vh;
    @include mixins.center-aligned;
    background: vars.$main-bkg-color;
    width: 100%;
    &::before {
      content: "";
      height: 1px;
      width: 200px;
      position: absolute;
      background:vars.$text-color;
      margin-bottom: 40px;
    }
}

.attribution {
    font-size: 0.9em;
     a {
      color: vars.$link-text-color;
      font-weight: 500;
      &:hover {
        color: vars.$link-text-color-hover;
      }
    }
    color: vars.$attribution-text-color;
}

@media screen and (max-width: 600px) {

   #about {
     height: 90vh;
     max-width: unset;
     p {
       padding: 15vw 15vw 0vh 20vw;
       transform: translateY(5%);
       font-size: 1em;
     }

   }

}

@media (max-height: 500px) and (max-width: 1023px) {

  #about {
    p {
      padding: 25vh 8vw 0vh 8vw;
    }

  }
}