@use 'vars';

#ham > span,
#cross > span {
    display: block;
    background: vars.$text-color;
    box-shadow: 1px 1px 2px rgb(37, 37, 37);
    border-radius: 2px;
    transition: .25s ease;
}
#menu-toggle {
  display: none;
  width: 80px;
  height: 70px;
  position:fixed;
  right: 0;
  top: -6px;
  z-index: 9999;
  animation: fadeInX 0.3s;
  border-bottom-left-radius: 50%;
  cursor:pointer;
  #ham {
    height: vars.$toggle-btn-size;
    width: vars.$toggle-btn-size;
    margin: 10px;
    margin-left: 35px;
    position: absolute;
    span {
      width:60%;
      height:3px;
      margin:8px 0;
      &:nth-child(1){
        transition-delay:.5s;
      }
      &:nth-child(2){
        transition-delay:.625s;
      }
      &:nth-child(3){
        transition-delay:.75s;
      }
    }
  }
  #cross {
    height: vars.$toggle-btn-size;
    width: vars.$toggle-btn-size;
    margin: 15px;
    margin-left: 25px;
    transform:rotate(45deg);
    position: absolute;
    span{
      &:nth-child(1){
        position: absolute;
        height:0%;
        width:3px;
        transition-delay:0s;
        top: 0px;
        left: 18px;

      }
      &:nth-child(2){
        position:absolute;
        width:0%;
        height:3px;
        top: 18px;
        left: 0px;
        transition-delay:.25s;
        box-shadow: none;
      }
    }
  }
}

#menu-toggle.open {
  #ham {
    span {
      width: 0%;
      &:nth-child(1){
        transition-delay:0s;
      }
      &:nth-child(2){
        transition-delay:.125s;
      }
      &:nth-child(3){
        transition-delay:.25s;
      }
    }
  }
  #cross {
    span {
      &:nth-child(1){
        height:80%;
        transition-delay:.625s;
      }
    }
    span {
      &:nth-child(2){
        width:70%;
        transition-delay:.375s;
      }
    }    
  }
}