@mixin center-aligned {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin dark-gradient {
    background: rgb(20, 33, 37);
    background: linear-gradient(180deg, rgb(72, 116, 129) 10%, rgb(58, 52, 71) 90%);
}