@mixin center-aligned {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin dark-gradient {
    background: rgb(20, 33, 37);
    background: linear-gradient(173deg, rgb(72, 116, 129) 5%, rgb(54, 50, 68) 95%);
}