@use 'vars';
@use 'mixins';

nav {
    position: absolute;
    z-index: 99;
    top: -15px;
    display: inline-block;
    animation: fadeIn 0.5s;
    font-size: 1em;
    background: transparent;
    height: 80px;
    width: 100vw;
    overflow: hidden;

    ul {
        padding: 40px;
        justify-content: right;
        display: flex;
        gap: 3em;

        li {
            &::first-letter {
                text-transform: uppercase;
            }

        }
    }

}

li>a {
    color: vars.$link-text-color;
    &:hover {
        color:vars.$link-text-color-hover;
    }
}

.categories {
    a {
        &:hover{
            color: vars.$heading-index;
        }
    }
}

.nav--index {
    background-color: transparent;
    border: none;
    ul {
        li {
            a {
                color: vars.$main-bkg-color;

                &:hover {
                    filter: brightness(0.1)
                }
            }
        }
    }
}

.nav--gallery {
      display: none;
      width: clamp(310px, 30%, 400px);
      height: fit-content;
      right: 0;
      border-left: solid 1px rgb(150, 150, 150);
      background: vars.$main-bkg-color;
      font-size: 1.2em;
      animation: fadeInX 0.3s;

      ul {
          padding: 60px 0 60px 10vw;
          margin: 0 auto;
          flex-direction: column;
      }
}

header {
    height: 100vh;
}

.this-way {
    position: absolute;
    font-size: 150%;
    top: 70%;
    color: white;
    transition: 0.5s;

    &::after {
        display: none;
    }
}

.video-container {
    width: 100vw;
    top: 0%;
    overflow-y: hidden;
    overflow-x: hidden;
    position: fixed;
    z-index: -1;
}

video {
    width: 120%;
    height: auto;
    animation: fadeInY 1s;
}

.line {
    &::after {
        content: "";
        height: 40vh;
        top: 170%;
        position: absolute;
        animation: blink 2s infinite;
    }
}

.video-overlay {
    height: 100%;
    width: 100%;
    @include mixins.center-aligned;
    z-index: 1;
    background: rgb(183, 241, 255);
    background: vars.$video-overlay-gradient;
    position: absolute;
    top: 0;
}

@media screen and (max-width: 1024px) {

  .video-container {
      height: 100vh;
      top: 0;
  }

  video {
      height: 122%;
      width: auto;
  }

  #menu-toggle {
      display: inline-block;
  }

  nav {
      display: none;
      width: clamp(310px, 30%, 400px);
      height: fit-content;
      right: 0;
      border-left: solid 1px rgb(150, 150, 150);
      background: vars.$main-bkg-color;
      font-size: 1.2em;
      animation: fadeInX 0.3s;

      ul {
          padding: 60px 0 60px 10vw;
          margin: 0 auto;
          flex-direction: column;
      }
  }

  .nav--index {
    background-color: rgba(255, 255, 255, 0.176);
    backdrop-filter: blur(20px);
  }
   
}

@media (max-width: 768px) {
    nav,
    .nav--gallery {
        width: 50%;
        ul {
            padding: 60px 0 60px 10vw;
            flex-direction: column;
        }
    }
    .this-way {
        top: 80%;
    }
}


