
@use 'vars';
@use 'mixins';

nav {
    position: absolute;
    z-index: 99;
    top: -15px;
    display: inline-block;
    animation: fadeIn 0.5s;
    font-size: 1em;
    background: transparent;
    height: 80px;
    width: 100vw;
    overflow: hidden;
    backdrop-filter: blur(20px);

    ul {
        padding: 40px;
        justify-content: right;
        display: flex;
        gap: 3em;

        li {
            &::first-letter {
                text-transform: uppercase;
            }

        }
    }

}

li>a {
    color: rgba(169, 169, 169, 0.747);

    &:hover {
        color: rgba(245, 245, 245, 1);
    }
}

.nav--index {
    background-color: transparent;

    ul {
        li {
            a {
                color: vars.$main-color;

                &:hover {
                    filter: brightness(0.1)
                }
            }
        }
    }
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: sticky;
    top: 110px;
    width: 50px;
    margin-left: 40px;
    transition: 0.5s;

    ul {
        li {
            &:nth-child(1) {
                margin-bottom: 0.5em;
            }

            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                margin-bottom: 1em;

            }

            &:hover {
                filter: brightness(4);
            }
        }
    }
}

header {
    height: 100vh;
}

.this-way {
    position: absolute;
    font-size: 150%;
    top: 70%;
    color: white;
    transition: 0.5s;

    &::after {
        display: none;
    }
}

.video-container {
    width: 100vw;
    position: relative;
    top: 0%;
    overflow-y: hidden;
    overflow-x: hidden;
    position: fixed;
    z-index: -1;
}

video {
    width: 120%;
    height: auto;
    animation: fadeInY 1s;
}

.line {
    &::after {
        content: "";
        height: 40vh;
        top: 170%;
        position: absolute;
        animation: blink 2s infinite;
    }
}

.video-overlay {
    height: 100%;
    width: 100%;
    @include mixins.center-aligned;
    z-index: 1;
    background: rgb(183, 241, 255);
    background: linear-gradient(180deg, rgba(183, 241, 255, 0.4) 28%, rgba(160, 210, 255, 0.7) 91%);
    position: absolute;
    top: 0;
}

@media screen and (max-width: 1024px) {

  .video-container {
      height: 100vh;
      top: 0;
  }

  video {
      height: 122%;
      width: auto;
  }

  #menu-toggle {
      display: inline-block;
  }

  nav {
      display: none;
      width: clamp(310px, 30%, 400px);
      height: fit-content;
      right: 0;
      border-left: solid 1px rgb(150, 150, 150);
      background: vars.$main-color-gallery;
      font-size: 1.2em;
      animation: fadeInX 0.5s;

      ul {
          padding: 60px 0 60px 10vw;
          margin: 0 auto;
          flex-direction: column;
      }
  }
   
}

@media (max-width: 768px) {

        nav {
            width: 50%;

            ul {
                padding: 60px 0 60px 10vw;
                flex-direction: column;
            }
        }

           #about>article>p {
               padding: 30vh 15vw 0vh 15vw;
               font-size: 1.2em;

           }

           .this-way {
               top: 80%;

           }
}


