// backgrounds
$main-color: rgb(58,52,71);
$main-color-gallery: rgb(42, 36, 47);
$toggle-btn-color: rgb(120, 151, 159);
$video-overlay-gradient: linear-gradient(180deg, rgba(183, 241, 255, 0.4) 28%, rgba(160, 210, 255, 0.7) 91%);

// text colors
$text-color:rgb(197, 209, 177);
$large-heading: rgb(197, 209, 177);
$attribution-text-color: rgb(186, 217, 247);
$link-text-color:rgba(169, 169, 169, 0.747);
$link-text-color-hover: rgba(245, 245, 245, 1);

$main-font:'Work Sans', sans-serif;

$toggle-btn-size: 70%;
