@use 'vars';
@use 'mixins';
@forward 'menutoggle';
@forward 'keyframes';
@forward 'scrollbars';
@forward 'gallery';



*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

li {
    list-style: none;
}
html{
   scroll-behavior: smooth; 
}
a {
  color:whitesmoke;
}
@font-face {
    font-family: hkgrotesk-light;
    src: url("/fonts/HKGrotesk-Light.ttf");
}

@font-face {
    font-family: semplicita-ombra;
    src: url("/fonts/SemplicitaOmbra.otf");
}



body {
    background: vars.$main-color;
    font-family: hkgrotesk-light;
    font-size: clamp(13px, 1.5vw, 16px);
    overflow-x: hidden;
    
}

nav {
    position: fixed;
    z-index: 99;
    top:0;
    display: inline-block;
    animation: fadeIn 0.5s;
    font-size: 1em;
    background: vars.$main-color;
    background-image: url('/style/ornament-nav.png');
    background-size: 100%;
    background-position-y: 90%;
    height: 80px;
    width: 100vw;
    overflow: hidden;
    ul {
        padding: 40px ;
        justify-content: right;
        display: flex;
        gap: 3em;
      li {
        &::first-letter {
        text-transform: uppercase;
        }
        
      }
    }
    
}

li > a {
  color:rgba(245, 245, 245, 0.747);
  &:hover{
  color:rgba(245, 245, 245, 1);
  }
}
.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: sticky;
  top: 110px;
  width: 50px;
  margin-left: 40px;
  transition: 0.5s;
  ul {
   li {
    &:nth-child(1){
     margin-bottom: 0.5em; 
    }
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4){
    margin-bottom: 1em;
    
  }
   &:hover {
   filter: brightness(2); 
    }
   }
  }
}

header {
  height: 100vh;
}


.video-container {
    width: 100vw;
    position: relative;
    top: 10%;
    overflow-y: hidden;
    overflow-x: hidden;
    position: fixed;
    z-index:-1;   
}

video {
    width: 100%;
    height: auto;
    animation: fadeInY 1s; 
}
.this-way {
  &::after {
    content: "";
    height: 30vh;
    top: 70%;
    position: absolute;
    animation: blink 2s infinite;
  }
}
.video-overlay {
    height: 100%;
    width: 100%;
    @include mixins.center-aligned;
    z-index: 1;
    background: rgba(106, 220, 248, 0.363);
    position: absolute;
    top:0;
}

// <<<<  M A I N  /  C O N T E N T  S E C T I O N  start >>>> //
                      
main {
  background: vars.$main-color;
  background-image: url("blue_texture_bkg.png");
  background-size: cover;
  color: vars.$text-color;
  line-height: 1.3em;
}




h3.about {
    position: sticky;
    background: none;
    color: vars.$large-heading; 
    top: 0;
    height: 22vh;
    padding: 150px 10% 0 15%;
    font-size: clamp(70px, 17vw, 120px);
    z-index: 5;
    &::before {
      content: "·· ";
      font-size: 90%;
      filter: opacity(0.5);
      color: vars.$text-color;
    }


}

// <<<  B O T T O M  /  A B O U T  S E C T I O N  start >>>> //


#about { 
    @include mixins.center-aligned;
}
#about > article {
    max-width: 1000px;
    height: 100%;
    p {
    height: 90vh;
    min-width: 365px; 
    position: relative;
    z-index: 4;
    padding: 35vh 5vw 10vh 20vw;
  }

}

footer {
    height: 10vh;
    @include mixins.center-aligned;
    width: 100%;
    background: vars.$main-color; 
    z-index: 7;
}
.attribution {
    font-size: clamp(10px, 1vw, 12px);
    
     a {
      text-decoration: underline;
    }
    color: rgb(186, 217, 247);
}






@media screen and (max-width: 1024px) {

  .video-container{
    height: 100vh;
    top:0;
  }
   video {
        height: 122%;
        width: auto;
    }
  #menu-toggle {
    display: inline-block;
  }
  nav {
    display: none;
    width: clamp(310px, 30%, 400px);
    height: fit-content;
    right: 0;
    border-left: solid 1px rgb(150, 150, 150);
    background-image: none;
    font-size: 1.2em;
    animation: fadeInX 0.5s;
    ul {
      padding: 60px 0 60px 10vw;
      margin: 0 auto;
      flex-direction: column;
    }
  }
  h3.about {
    padding: 150px 10% 0 10%;
  }

}




@media (max-width: 768px) {

    nav{ 
      width: 50%;
      ul {
        padding: 60px 0 60px 10vw;
        flex-direction: column;
      }
    }
    
    .gallery {
      width: 100vw;
      flex-direction: column-reverse;
      overflow-x: hidden;
      padding: 0;

      .thumbs {
        flex-direction: row;
        overflow-y: hidden;
        overflow-x: scroll;
        height: 20vh;
        gap: 2%;
        max-width: none;
        min-width: none;
        width: 100%;

        .thumb {
          height: 100%;
          min-width: 150px;
          
          }
      }

      .large {
          width: 100vw;
          height: 80vh;
          padding-bottom: 100px;
        img {
          max-width: 90vw !important ;
          max-height: auto;
        }
        .show-details {
        bottom: 18vh;
        }
      }
      .details {
        bottom: 20%;
        padding: 5vw;
        max-width: 70vw;
        left: unset;
        right: 0;
      }
      
    }

   #about > article > p {
     padding: 30vh 15vw 0vh 15vw;
     font-size: 1.2em;

   }


}

@media screen and (max-width: 455px) {
  h3.about {
    height: 25vh;
    padding: 100px 10% 0 0%;
  }
  #about > article {
    height: 100vh;
   p {
     padding: 28vh 20vw 0vh 20vw;
     transform: translateY(5%);
     font-size: 1.2em;
   } 

  }
  
  .gallery{
     .thumbs {
        height: 15vh;
        .thumb {
          min-width: 115px;
          }
      }
   .details {
    width: 80vw;
    overscroll-behavior: contain;
    max-height: 350px;
   }
  } 
  .visible{
  filter: opacity(0.9) !important;
  }
  footer {
    height: 5vh;
  }
}

@media (max-height: 500px) and (max-width: 1023px){
  h3.about {
    padding: 70px 10% 0 10%;
  }

  #about > article {
   p {
     padding: 35vh 8vw 0vh 8vw;
   } 

  }
  .gallery{
   .details {
    right:0;
    //max-height:80vh;
    height: 80vh;
    bottom: 0.1%;
    top: 80px;
   }
   .large{
     height: 100vh;
     .show-details {
       bottom: 80px;
       left: 120px;
     }
     img {
       height: 99%;
       max-height: unset;
     }
   }
   .thumbs {
     min-width: 0;
     max-width: fit-content;
    .thumb{
      min-height: 100px;
      height: unset;
      width: 100px;
    }
 }
  }   
 h3.artwork-type {
    padding-top: 30vh;
    padding-right: 1vw;
    font-size: 50px;  
 }
 

}

