@use 'vars';
@use 'mixins';
@forward 'menutoggle';
@forward 'keyframes';
@forward 'scrollbars';
@forward 'gallery';
@forward 'fonts';


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

li {
    list-style: none;
}
html{
   scroll-behavior: smooth; 
}
a {
  color:whitesmoke;
}

body {
    background: vars.$main-color;
    font-family: 'Work Sans',
    sans-serif;
    font-weight: 300;
    font-size: clamp(13px, 1.5vw, 16px);
    overflow-x: hidden;
    
}

nav {
    position: fixed;
    z-index: 99;
    top:0;
    display: inline-block;
    animation: fadeIn 0.5s;
    font-size: 1em;
    background: vars.$main-color;
    height: 80px;
    width: 100vw;
    overflow: hidden;
    ul {
        padding: 40px ;
        justify-content: right;
        display: flex;
        gap: 3em;
      li {
        &::first-letter {
        text-transform: uppercase;
        }
        
      }
    }
    
}

li > a {
  color:rgba(245, 245, 245, 0.747);
  &:hover{
  color:rgba(245, 245, 245, 1);
  }
}
.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: sticky;
  top: 110px;
  width: 50px;
  margin-left: 40px;
  transition: 0.5s;
  ul {
   li {
    &:nth-child(1){
     margin-bottom: 0.5em; 
    }
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4){
    margin-bottom: 1em;
    
  }
   &:hover {
   filter: brightness(4); 
    }
   }
  }
}

header {
  height: 100vh;
}

.this-way {
  position: absolute;
  font-size: 150%;
  top: 70%;
  color: white;
  transition: 0.5s;
  &::after {
   display: none;
  }
  

}

.video-container {
    width: 100vw;
    position: relative;
    top: 10%;
    overflow-y: hidden;
    overflow-x: hidden;
    position: fixed;
    z-index:-1;   
}

video {
    width: 100%;
    height: auto;
    animation: fadeInY 1s; 
}
.line {
  &::after {
    content: "";
    height: 40vh;
    top: 60%;
    position: absolute;
    animation: blink 2s infinite;
  }
}
.video-overlay {
    height: 100%;
    width: 100%;
    @include mixins.center-aligned;
    z-index: 1;
    background: rgb(183, 241, 255);
    background: linear-gradient(180deg, rgba(183, 241, 255, 0.4) 28%, rgba(160, 210, 255, 0.7) 91%);
    position: absolute;
    top:0;
}

                      
main {
  @include mixins.dark-gradient;
  color: vars.$text-color;
  line-height: 1.3em;
}




h3.about {
    position: sticky;
    background: none;
    color: vars.$large-heading; 
    font-family: 'Work Sans', sans-serif;
    top: 0;
    height: 15vh;
    padding: 150px 10% 0 25%;
    font-size: clamp(30px, 15vw, 100px);
    z-index: 5;

}


#about { 
    @include mixins.center-aligned;
}
#about > article {
    max-width: 1000px;
    height: 100%;
    p {
    height: 90vh;
    min-width: 365px; 
    position: relative;
    z-index: 4;
    padding: 35vh 5vw 10vh 20vw;
  }

}

footer {
    height: 10vh;
    @include mixins.center-aligned;
    width: 100%;
    background: vars.$main-color; 
    z-index: 7;
}
.attribution {
    font-size: clamp(10px, 1vw, 12px);
    
     a {
      text-decoration: underline;
    }
    color: rgb(186, 217, 247);
}


@import 'mediaQs';



