*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #1f1305;
}

#ham > span,
#cross > span {
  display: block;
  background: lavender;
  border-radius: 2px;
}

#menu-toggle {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: fixed;
  right: 0;
  cursor: pointer;
}

#menu-toggle #ham {
  height: 80%;
  width: 80%;
  margin: 15px;
  position: absolute;
}

#menu-toggle #ham span {
  width: 70%;
  height: 4px;
  margin: 10px 0;
}

#menu-toggle #ham span:nth-child(1) {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

#menu-toggle #ham span:nth-child(2) {
  -webkit-transition-delay: .625s;
          transition-delay: .625s;
}

#menu-toggle #ham span:nth-child(3) {
  -webkit-transition-delay: .75s;
          transition-delay: .75s;
}

#menu-toggle #cross {
  height: 80%;
  width: 80%;
  margin: 15px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
}

#menu-toggle #cross span:nth-child(1) {
  position: absolute;
  height: 0%;
  width: 4px;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  top: 10px;
  left: 20px;
}

#menu-toggle #cross span:nth-child(2) {
  position: absolute;
  width: 0%;
  height: 4px;
  top: 32px;
  left: -2px;
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
}

#menu-toggle.open #ham span {
  width: 0%;
}

#menu-toggle.open #ham span:nth-child(1) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

#menu-toggle.open #ham span:nth-child(2) {
  -webkit-transition-delay: .125s;
          transition-delay: .125s;
}

#menu-toggle.open #ham span:nth-child(3) {
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
}

#menu-toggle.open #cross span:nth-child(1) {
  height: 80%;
  -webkit-transition-delay: .625s;
          transition-delay: .625s;
}

#menu-toggle.open #cross span:nth-child(2) {
  width: 80%;
  -webkit-transition-delay: .375s;
          transition-delay: .375s;
}

header {
  height: 100vh;
}

.video-container {
  height: 79.5vh;
  width: 100vw;
  position: relative;
  top: 10%;
  overflow-y: hidden;
  overflow-x: hidden;
  position: fixed;
  z-index: -1;
}

video {
  width: 100%;
}

.video-overlay {
  height: 100%;
  width: 100%;
  z-index: 2;
  background: rgba(85, 23, 201, 0.137);
  position: absolute;
  top: 0;
}

#logo {
  position: absolute;
  display: inline-block;
  top: 40vh;
  left: 30vw;
  font-size: clamp(90px, 30vw, 150px);
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

#logo.apart {
  left: 10vw;
  letter-spacing: 150px;
  color: rgba(0, 0, 0, 0);
}

main {
  height: 180vh;
  background: #1f1305;
}

footer {
  height: 20vh;
  background: #44516b;
}

@media screen and (max-width: 1100px) {
  video {
    height: 100%;
    width: auto;
  }
}
/*# sourceMappingURL=index.css.map */