
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //transition: .25s ease-in-out;
    text-decoration: none; 
}
li {
    list-style: none;
}

html {
   scroll-behavior: smooth; 
}
a {
  color:whitesmoke;
}
@font-face {
    font-family: hkgrotesk-light;
    src: url("/fonts/HKGrotesk-Light.ttf");
}

@font-face {
    font-family: essence-sans;
    src: url("/fonts/Essence-Sans.ttf");
}
@font-face {
    font-family: menlo-regular;
    src: url("/fonts/Menlo.ttc");
}

@mixin center-aligned {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadeInY {
  from {
    opacity: 0;
    transform: rotateY(-60deg);
  }
  to {
    opacity: 1;
    transform: rotateY(0);
  }
}

@keyframes fadeInX {
  from {
    opacity: 0;
    transform: rotateX(-60deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    border-bottom:solid 50px rgba(245, 245, 245, 0.5);
  }
  50% {
    border-bottom:solid 50px rgba(245, 245, 245, 1);
  }
  100% {
    border-bottom:solid 50px rgba(245, 245, 245, 0.5);
  }
}

body {
    background: rgb(36, 23, 16);
    font-family: hkgrotesk-light;
    font-size: clamp(14px, 1.5vw, 16px);
    color: whitesmoke; 
    
}

nav {
    position: fixed;
    z-index: 99;
    top:0;
    display: inline-block;
    animation: fadeInX 0.5s;
    background:rgb(31, 19, 5);
    height: 80px;
    width: 100vw;
    ul {
        padding:30px 100px 0 55vw;
        display: flex;
        gap: 30px;
      li {
        &::first-letter {
        text-transform: uppercase;
        }
        
      }
    }
    
}

li > a {
  color:rgba(245, 245, 245, 0.747);
  &:hover{
  color:rgba(245, 245, 245, 1);
  }
}
// <<<<  T O P  /  H E A D E R  S E C T I O N  >>>> //

// HAMBURGER MENU //
#ham > span,
#cross > span {
    display: block;
    background: whitesmoke;
    border-radius: 2px;
    transition: .25s ease;
}
#menu-toggle {
  display: none;
  width: 80px;
  aspect-ratio: 1;
  position:fixed;
  right: 0;
  top: -6px;
  z-index: 99;
  animation: fadeInX 0.3s;
  cursor:pointer;
  #ham {
    height:80%;
    width:80%;
    margin: 15px;
    position: absolute;
    span {
      width:70%;
      height:4px;
      margin:10px 0;
      &:nth-child(1){
        transition-delay:.5s;
      }
      &:nth-child(2){
        transition-delay:.625s;
      }
      &:nth-child(3){
        transition-delay:.75s;
      }
    }
  }
  #cross {
    height:80%;
    width:80%;
    margin: 15px;
    transform:rotate(45deg);
    position: absolute;
    span{
      &:nth-child(1){
        position: absolute;
        height:0%;
        width:4px;
        transition-delay:0s;
        top: 10px;
        left: 20px;

      }
      &:nth-child(2){
        position:absolute;
        width:0%;
        height:4px;
        top: 32px;
        left: -2px;
        transition-delay:.25s;
      }
    }
  }
}

#menu-toggle.open {
  #ham {
    span {
      width: 0%;
      &:nth-child(1){
        transition-delay:0s;
      }
      &:nth-child(2){
        transition-delay:.125s;
      }
      &:nth-child(3){
        transition-delay:.25s;
      }
    }
  }
  #cross {
    span {
      &:nth-child(1){
        height:80%;
        transition-delay:.625s;
      }
    }
    span {
      &:nth-child(2){
        width:80%;
        transition-delay:.375s;
      }
    }    
  }
}

// ^^ HAMBURGER MENU ^^ //

header {
  height: 100vh;
}


.video-container {
    height: 79.5vh;
    width: 100vw;
    position: relative;
    top: 10%;
    overflow-y: hidden;
    overflow-x: hidden;
    position: fixed;
    z-index:-1;
    
}
video {
    width: 100%;
    height: auto;
   animation: fadeInY 1s; 
}
.video-overlay {
    height: 100%;
    width: 100%;
    z-index: 2;
    background: rgba(85, 23, 201, 0.137);
    position: absolute;
    top:0;
}

#logo {
    position: absolute;
    display: inline-block;
    z-index: 3;
    color:rgb(49, 43, 36);
    top: 30vh;
    left: 30vw;
    font-family: sans-serif;
    font-size: clamp(90px, 30vw, 150px);  
    overflow: hidden;
    transition: 1s;
    white-space: nowrap;
    word-wrap: nowrap;
    animation: fadeIn 3s;
    
}

#logo.apart {
    left: 10vw;
    letter-spacing: 150px;
    color:rgba(0, 0, 0, 0);
    filter: blur(7px);
}

#scroll {
  position: absolute;
  top: 92vh;
  display: inline-block;
  width: 100%;
  display: flex;
  z-index: -1;
  justify-content: center;
  color:rgba(245, 245, 245, 0.5);

  &::after {
    content: '';
    border-bottom: solid 50px rgba(245, 245, 245, 0.5);
    position: absolute;
    top:20px;
    width: 5px;
    height: 50px;
    animation: blink 5s infinite;
    animation-delay: 5s;
  }
}

// <<<<  M A I N  /  C O N T E N T  S E C T I O N  >>>> //
                      
main {
  height: calc(190vh + 200px);
  background:rgb(36, 23, 16);
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  line-height: 140%;
  letter-spacing: 110%;
  
}
.artwork {
    display: flex;
    flex-wrap: wrap;
    //align-items: center;
    justify-content: center;
    gap: 0;
    height: calc(100vh + 200px);
    width: 100%;
    padding: 0 10vw;
    padding-top: 20vh;
    
}
.artwork-sections-wrapper {
    height: 33vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    
}

.artwork-sections-wrapper > a > section {
     @include center-aligned;
        flex: 1;
        min-width: 300px;
        max-width: 500px;
        height: 30vh;
        font-size: 30px;
        line-height: 40px;
        
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
        background-size: 180%;
        background-position: center;
        border-right: solid 1px whitesmoke;
        border-left: solid 1px whitesmoke;
        background:rgb(36, 23, 16);
        filter: grayscale(0.00001);
        }
        &:hover {
            cursor: pointer;
            transition: 20s ease-out;
            background-size: 140%;
            background-position: auto;
            background-position-x: 20%;
            background-position-y: 45%;
            background-repeat: no-repeat;
            
        }
        
        
    }


h3.artwork,
h3.about {
    text-align: center;
    overflow: hidden;
    position: absolute;
    background: none;
    color: rgba(245, 245, 245, 0.5); 
    top: 700px;
}

// <<<  B O T T O M  /  A B O U T  S E C T I O N  >>>> //

h3.about {
    top: 1500px;
    height: max-content;
}

.about {
    height: 90vh;
    border: dotted 1px rgba(245, 245, 245, 0.479);
    @include center-aligned;
    justify-content: flex-start;
    flex-direction: column;
}
.about > article {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
}
.about > article > p,
.about > article > picture {
    flex: 1;
    border: dotted 1px rgba(245, 245, 245, 0.479);
    height: 100%;
    min-width: 375px;
}
.about > article > p {
  padding: 0 10vw;
}

footer {
    height: 10vh;
    background:rgb(68, 81, 107);
    @include center-aligned;
}
.attribution {
    font-size: 11px;
}

@media screen and (max-width: 984px) {
    video {
        height: 100%;
        width: auto;
    }
    .artwork-sections-wrapper > section  {
       height: 33vh;
    }
}

@media screen and (max-width: 1024px) {
  #menu-toggle {
    display: inline-block;
  }
  nav {
    display: none;
  }
}

@media screen and (max-width: 768px) {
    .about > article {
        padding-top: 25vh;
    }
    nav{ 
      width: 100%;
      height: 250px;
      ul {
        padding: 60px 40vw;
        flex-direction: column;
      }
    }
}
