@import url("https://fonts.googleapis.com/css2?family=Trispace:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,500;1,100&display=swap");
#ham > span,
#cross > span {
  display: block;
  background: rgb(120, 151, 159);
  border-radius: 2px;
  transition: 0.15s ease-in-out;
}

#menu-toggle {
  display: none;
  width: 80px;
  height: 70px;
  position: absolute;
  right: 0;
  top: -6px;
  z-index: 9999;
  -webkit-animation: fadeInX 0.3s;
          animation: fadeInX 0.3s;
  border-bottom-left-radius: 50%;
  cursor: pointer;
}
#menu-toggle #ham {
  height: 70%;
  width: 70%;
  margin: 10px;
  margin-left: 35px;
  position: absolute;
}
#menu-toggle #ham span {
  width: 60%;
  height: 3px;
  margin: 8px 0;
}
#menu-toggle #ham span:nth-child(1) {
  transition-delay: 0.3s;
}
#menu-toggle #ham span:nth-child(2) {
  transition-delay: 0.425s;
}
#menu-toggle #ham span:nth-child(3) {
  transition-delay: 0.55s;
}
#menu-toggle #cross {
  height: 70%;
  width: 70%;
  margin: 15px;
  margin-left: 25px;
  transform: rotate(45deg);
  position: absolute;
}
#menu-toggle #cross span:nth-child(1) {
  position: absolute;
  height: 0%;
  width: 3px;
  transition-delay: 0s;
  top: 0px;
  left: 18px;
}
#menu-toggle #cross span:nth-child(2) {
  position: absolute;
  width: 0%;
  height: 3px;
  top: 18px;
  left: 0px;
  transition-delay: 0.05s;
  box-shadow: none;
}

#menu-toggle.open #ham span {
  width: 0%;
}
#menu-toggle.open #ham span:nth-child(1) {
  transition-delay: 0s;
}
#menu-toggle.open #ham span:nth-child(2) {
  transition-delay: 0.025s;
}
#menu-toggle.open #ham span:nth-child(3) {
  transition-delay: 0.15s;
}
#menu-toggle.open #cross span:nth-child(1) {
  height: 80%;
  transition-delay: 0.425s;
}
#menu-toggle.open #cross span:nth-child(2) {
  width: 70%;
  transition-delay: 0.175s;
}

@-webkit-keyframes fadeInY {
  from {
    opacity: 0;
    transform: rotateY(-20deg);
  }
  to {
    opacity: 1;
    transform: rotateY(0);
  }
}

@keyframes fadeInY {
  from {
    opacity: 0;
    transform: rotateY(-20deg);
  }
  to {
    opacity: 1;
    transform: rotateY(0);
  }
}
@-webkit-keyframes fadeInX {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
@keyframes fadeInX {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    border-left: solid 1px rgba(245, 245, 245, 0.1);
  }
  50% {
    border-left: solid 1.2px rgb(245, 245, 245);
  }
  100% {
    border-left: solid 1px rgba(245, 245, 245, 0.1);
  }
}
@keyframes blink {
  0% {
    border-left: solid 1px rgba(245, 245, 245, 0.1);
  }
  50% {
    border-left: solid 1.2px rgb(245, 245, 245);
  }
  100% {
    border-left: solid 1px rgba(245, 245, 245, 0.1);
  }
}
@-webkit-keyframes loading {
  0% {
    letter-spacing: 0;
    filter: blur(0px) opacity(1);
  }
  100% {
    letter-spacing: 100px;
    filter: blur(7px) opacity(0);
  }
}
@keyframes loading {
  0% {
    letter-spacing: 0;
    filter: blur(0px) opacity(1);
  }
  100% {
    letter-spacing: 100px;
    filter: blur(7px) opacity(0);
  }
}
::-webkit-scrollbar {
  width: 1em;
  max-width: 10px;
}

::-webkit-scrollbar-track {
  margin-block: 1em;
}

::-webkit-scrollbar-thumb {
  background: rgba(245, 245, 245, 0.76);
  border-radius: 50px;
  border: solid 0.25em rgb(42, 36, 47);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(245, 245, 245);
}

#loading {
  position: absolute;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: rgb(42, 36, 47);
  color: rgb(197, 209, 177);
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  font-size: clamp(30px, 30vw, 80px);
}
#loading span {
  white-space: nowrap;
  word-wrap: nowrap;
  overflow: hidden;
  -webkit-animation: loading 1.7s;
          animation: loading 1.7s;
}

h3.artwork-type {
  overflow: hidden;
  position: absolute;
  background: none;
  line-height: 80%;
  text-align: right;
  color: rgb(197, 209, 177);
  right: 0.5vw;
  bottom: 0;
  height: 75vh;
  padding-top: 7vh;
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  font-size: clamp(70px, 16vw, 120px);
  z-index: -1;
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
}

.gallery {
  height: 100vh;
  display: flex;
  padding: 1%;
}
.gallery .thumbs {
  display: flex;
  gap: 1%;
  flex-direction: column;
  height: 100%;
  max-width: 200px;
  width: 15vw;
  min-width: 180px;
  background: rgb(42, 36, 47);
  z-index: 150;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
}
.gallery .thumbs .thumb {
  min-height: 150px;
  cursor: pointer;
  filter: grayscale(0.8);
  transition: 0.5s;
  background-size: 160%;
  background-position-x: center;
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
}
.gallery .thumbs .thumb:hover {
  filter: grayscale(0);
  background-position-y: 25%;
}
.gallery .large {
  padding: 5% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
}
.gallery .large img {
  position: absolute;
  filter: opacity(0);
  transition: 0.3s;
  max-height: 90%;
}
.gallery .large .show-details {
  filter: opacity(0);
  position: absolute;
  margin-right: 60vw;
  z-index: 99;
  bottom: 10vh;
  height: 2em;
  width: 2em;
  border: solid 2px rgb(197, 209, 177);
  border-radius: 100%;
  font-family: "Work Sans", sans-serif;
  font-size: 2em;
  color: rgb(197, 209, 177);
  background: rgb(42, 36, 47);
  transition: 0.3s;
  cursor: pointer;
}
.gallery .large .show-details:hover {
  color: rgb(58, 52, 71);
  background: rgb(197, 209, 177);
  border: solid 2px rgb(42, 36, 47);
}
.gallery .details {
  filter: opacity(0);
  position: absolute;
  bottom: 5%;
  left: 60%;
  right: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 90vh;
  background: rgb(42, 36, 47);
  border-top: solid 1px rgb(197, 209, 177);
  border-left: solid 1px rgb(197, 209, 177);
  border-top-left-radius: 5vw;
  color: rgb(197, 209, 177);
  width: clamp(400px, 40vw, 500px);
  padding: 3vw;
  overflow-y: scroll;
  transition: 0.3s;
}
.gallery .details::first-line {
  font-size: 150%;
}

.visible {
  filter: opacity(1) !important;
  z-index: 300;
}

@media (max-width: 768px) {
  .gallery {
    width: 100vw;
    flex-direction: column-reverse;
    overflow-x: hidden;
    padding: 0;
  }
  .gallery .thumbs {
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
    height: 20vh;
    gap: 2%;
    max-width: none;
    min-width: none;
    width: 100%;
  }
  .gallery .thumbs .thumb {
    height: 100%;
    min-width: 150px;
  }
  .gallery .large {
    width: 100vw;
    height: 80vh;
    padding-bottom: 100px;
  }
  .gallery .large img {
    max-width: 90vw !important;
    max-height: auto;
  }
  .gallery .large .show-details {
    bottom: 25vh;
  }
  .gallery .details {
    bottom: 20%;
    padding: 5vw;
    max-width: 70vw;
    left: unset;
    right: 0;
  }
}
@media (max-height: 500px) and (max-width: 1023px) {
  .gallery .details {
    right: 0;
    height: 80vh;
    bottom: 0.1%;
    top: 80px;
  }
  .gallery .large {
    height: 100vh;
  }
  .gallery .large .show-details {
    bottom: 80px;
    left: 120px;
  }
  .gallery .large img {
    height: 99%;
    max-height: unset;
  }
  .gallery .thumbs {
    min-width: 0;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .gallery .thumbs .thumb {
    min-height: 100px;
    height: unset;
    width: 100px;
  }
  h3.artwork-type {
    padding-top: 30vh;
    padding-right: 1vw;
    font-size: 40px;
    letter-spacing: 0;
  }
}
@media screen and (max-width: 455px) {
  .gallery .thumbs {
    height: 15vh;
  }
  .gallery .thumbs .thumb {
    min-width: 115px;
  }
  .gallery .details {
    width: 80vw;
    -ms-scroll-chaining: none;
        overscroll-behavior: contain;
    max-height: 350px;
    bottom: 15%;
  }
  .visible {
    filter: opacity(0.9) !important;
  }
}
nav {
  position: absolute;
  z-index: 99;
  top: -15px;
  display: inline-block;
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
  font-size: 1em;
  background: transparent;
  height: 80px;
  width: 100vw;
  overflow: hidden;
}
nav ul {
  padding: 40px;
  justify-content: right;
  display: flex;
  gap: 3em;
}
nav ul li::first-letter {
  text-transform: uppercase;
}

li > a {
  color: rgba(169, 169, 169, 0.747);
}
li > a:hover {
  color: rgb(245, 245, 245);
}

.nav--index {
  background-color: transparent;
  border: none;
}
.nav--index ul li a {
  color: rgb(58, 52, 71);
}
.nav--index ul li a:hover {
  filter: brightness(0.1);
}

.nav--gallery {
  display: none;
  width: clamp(310px, 30%, 400px);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  right: 0;
  border-left: solid 1px rgb(150, 150, 150);
  background: rgb(42, 36, 47);
  font-size: 1.2em;
  -webkit-animation: fadeInX 0.3s;
          animation: fadeInX 0.3s;
}
.nav--gallery ul {
  padding: 60px 0 60px 10vw;
  margin: 0 auto;
  flex-direction: column;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 110px;
  width: 50px;
  margin-left: 40px;
  transition: 0.5s;
}
.social ul li:nth-child(1) {
  margin-bottom: 0.5em;
}
.social ul li:nth-child(2), .social ul li:nth-child(3), .social ul li:nth-child(4) {
  margin-bottom: 1em;
}
.social ul li:hover {
  filter: brightness(4);
}

header {
  height: 100vh;
}

.this-way {
  position: absolute;
  font-size: 150%;
  top: 70%;
  color: white;
  transition: 0.5s;
}
.this-way::after {
  display: none;
}

.video-container {
  width: 100vw;
  position: relative;
  top: 0%;
  overflow-y: hidden;
  overflow-x: hidden;
  position: fixed;
  z-index: -1;
}

video {
  width: 120%;
  height: auto;
  -webkit-animation: fadeInY 1s;
          animation: fadeInY 1s;
}

.line::after {
  content: "";
  height: 40vh;
  top: 170%;
  position: absolute;
  -webkit-animation: blink 2s infinite;
          animation: blink 2s infinite;
}

.video-overlay {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background: rgb(183, 241, 255);
  background: linear-gradient(180deg, rgba(183, 241, 255, 0.4) 28%, rgba(160, 210, 255, 0.7) 91%);
  position: absolute;
  top: 0;
}

@media screen and (max-width: 1024px) {
  .video-container {
    height: 100vh;
    top: 0;
  }
  video {
    height: 122%;
    width: auto;
  }
  #menu-toggle {
    display: inline-block;
  }
  nav {
    display: none;
    width: clamp(310px, 30%, 400px);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    right: 0;
    border-left: solid 1px rgb(150, 150, 150);
    background: rgb(42, 36, 47);
    font-size: 1.2em;
    -webkit-animation: fadeInX 0.3s;
            animation: fadeInX 0.3s;
  }
  nav ul {
    padding: 60px 0 60px 10vw;
    margin: 0 auto;
    flex-direction: column;
  }
  .nav--index {
    background-color: rgba(255, 255, 255, 0.176);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
  }
}
@media (max-width: 768px) {
  nav,
.nav--gallery {
    width: 50%;
  }
  nav ul,
.nav--gallery ul {
    padding: 60px 0 60px 10vw;
    flex-direction: column;
  }
  #about > article > p {
    padding: 30vh 15vw 0vh 15vw;
    font-size: 1.2em;
  }
  .this-way {
    top: 80%;
  }
}
main {
  background: rgb(20, 33, 37);
  background: linear-gradient(180deg, rgb(72, 116, 129) 10%, rgb(58, 52, 71) 90%);
  color: rgb(197, 209, 177);
  line-height: 1.35em;
}

h3.about {
  position: -webkit-sticky;
  position: sticky;
  background: none;
  color: rgb(197, 209, 177);
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  top: 0;
  height: 5vh;
  padding: 150px 10% 0 8%;
  margin-left: 20%;
  font-size: clamp(30px, 15vw, 100px);
  z-index: 5;
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about > article {
  max-width: 80vw;
  height: 100%;
}
#about > article p {
  height: 90vh;
  min-width: 365px;
  position: relative;
  z-index: 4;
  padding: 35vh 5vw 10vh 10vw;
}

footer {
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgb(58, 52, 71);
}

.attribution {
  font-size: clamp(12px, 1vw, 12px);
  color: rgb(186, 217, 247);
}
.attribution a {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  h3.about {
    height: 25vh;
    min-height: 50px;
    padding-top: 80px;
    padding-left: 0;
    font-size: clamp(30px, 15vw, 100px);
  }
  #about > article {
    height: 100vh;
    max-width: unset;
  }
  #about > article p {
    padding: 23vh 15vw 0vh 20vw;
    transform: translateY(5%);
    font-size: 1.2em;
  }
}
@media screen and (max-width: 455px) {
  h3.about {
    font-size: 60px;
  }
}
@media (max-height: 500px) and (max-width: 1023px) {
  h3.about {
    padding: 70px 10% 0 10%;
  }
  #about > article p {
    padding: 25vh 8vw 0vh 8vw;
  }
}
body {
  background: rgb(20, 33, 37);
  background: linear-gradient(180deg, rgb(72, 116, 129) 10%, rgb(58, 52, 71) 90%);
}

.contact {
  margin-top: 100px;
  color: rgb(197, 209, 177);
}

.contact > h2 {
  padding-left: 50px;
}

.contact > p {
  font-size: clamp(16px, 2vw, 18px);
  padding: 0 50px;
  max-width: 700px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 600px;
}

form {
  width: clamp(300px, 100%, 600px);
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 3em;
}

.form-element {
  font-size: clamp(16px, 3vw, 18px);
  font-family: "Work Sans";
  font-weight: 100;
  border: none;
  border-bottom: solid 1px rgb(197, 209, 177);
  height: 28px;
  padding: 5px;
  background: transparent;
  color: rgb(197, 209, 177);
}
.form-element:focus {
  background: none;
  border: none;
}
.form-element:focus::-moz-placeholder {
  color: transparent;
}
.form-element:focus:-ms-input-placeholder {
  color: transparent;
}
.form-element:focus::placeholder {
  color: transparent;
}

textarea[id=message] {
  height: 20vh;
  border: solid 1px rgb(197, 209, 177);
  padding: 10px;
  font-family: "Work Sans";
}

button[type=submit] {
  background: transparent;
  border: solid 1px rgb(197, 209, 177);
  cursor: pointer;
  padding: 5px 20px;
  font-size: clamp(16px, 4vw, 18px);
  font-family: "Trispace", sans-serif;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: 0.3s;
  color: rgb(197, 209, 177);
}
button[type=submit]:hover {
  color: rgb(77, 77, 77);
  background: rgb(197, 209, 177);
}

.footer--contact {
  position: absolute;
  background: transparent;
  bottom: 0;
}

@media screen and (max-width: 1024px) and (max-height: 500px) {
  .contact {
    padding-top: 30vh;
    flex-direction: row;
    height: 150vh;
  }
  .contact-container {
    flex-direction: row;
    min-width: 300px;
    max-width: 560px;
  }
}
@media screen and (max-width: 768px) {
  form {
    align-items: center;
  }
  .form-element {
    width: 100%;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

a {
  color: whitesmoke;
}

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: clamp(13px, 1.5vw, 16px);
  overflow-x: hidden;
  background: rgb(42, 36, 47);
}

.index--body {
  background: rgb(58, 52, 71);
}

.logo-container {
  position: absolute;
  top: 40%;
  display: flex;
  justify-content: center;
  margin: 20px;
}
.logo-container img {
  width: 100px;
  filter: opacity(0.6);
}/*# sourceMappingURL=index.css.map */