::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  margin-block: 1em;
}

::-webkit-scrollbar-thumb {
  background: rgba(245, 245, 245, 0.76);
  border-radius: 50px;
  border: solid 0.25em #241710;
}

::-webkit-scrollbar-thumb:hover {
  background: whitesmoke;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

a {
  color: whitesmoke;
}

@font-face {
  font-family: hkgrotesk-light;
  src: url("/fonts/HKGrotesk-Light.ttf");
}

@font-face {
  font-family: florence-sans-shadow;
  src: url("/fonts/Florsn41.ttf");
}

@-webkit-keyframes fadeInY {
  from {
    opacity: 0;
    -webkit-transform: rotateY(-60deg);
            transform: rotateY(-60deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
}

@keyframes fadeInY {
  from {
    opacity: 0;
    -webkit-transform: rotateY(-60deg);
            transform: rotateY(-60deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
}

@-webkit-keyframes fadeInX {
  from {
    opacity: 0;
    -webkit-transform: rotateX(-60deg);
            transform: rotateX(-60deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}

@keyframes fadeInX {
  from {
    opacity: 0;
    -webkit-transform: rotateX(-60deg);
            transform: rotateX(-60deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    border-bottom: solid 50px rgba(245, 245, 245, 0.5);
  }
  50% {
    border-bottom: solid 50px whitesmoke;
  }
  100% {
    border-bottom: solid 50px rgba(245, 245, 245, 0.5);
  }
}

@keyframes blink {
  0% {
    border-bottom: solid 50px rgba(245, 245, 245, 0.5);
  }
  50% {
    border-bottom: solid 50px whitesmoke;
  }
  100% {
    border-bottom: solid 50px rgba(245, 245, 245, 0.5);
  }
}

body {
  background: #241710;
  font-family: hkgrotesk-light;
  font-size: clamp(14px, 1.5vw, 16px);
}

nav {
  position: fixed;
  z-index: 99;
  top: 0;
  display: inline-block;
  -webkit-animation: fadeInX 0.5s;
          animation: fadeInX 0.5s;
  font-size: 1.2em;
  background: #241710;
  height: 80px;
  width: 100vw;
}

nav ul {
  padding: 40px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3em;
}

nav ul li::first-letter {
  text-transform: uppercase;
}

li > a {
  color: rgba(245, 245, 245, 0.747);
}

li > a:hover {
  color: whitesmoke;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  width: 50px;
  margin-left: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.social ul li:nth-child(1) {
  margin-bottom: 0.5em;
}

.social ul li:nth-child(2), .social ul li:nth-child(3), .social ul li:nth-child(4) {
  margin-bottom: 1em;
}

.social ul li:hover {
  -webkit-filter: brightness(2);
          filter: brightness(2);
}

#ham > span,
#cross > span {
  display: block;
  background: whitesmoke;
  border-radius: 2px;
  -webkit-transition: .25s ease;
  transition: .25s ease;
}

#menu-toggle {
  display: none;
  width: 80px;
  aspect-ratio: 1;
  position: fixed;
  right: 0;
  top: -6px;
  z-index: 9999;
  -webkit-animation: fadeInX 0.3s;
          animation: fadeInX 0.3s;
  cursor: pointer;
}

#menu-toggle #ham {
  height: 80%;
  width: 80%;
  margin: 15px;
  position: absolute;
}

#menu-toggle #ham span {
  width: 70%;
  height: 4px;
  margin: 10px 0;
}

#menu-toggle #ham span:nth-child(1) {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

#menu-toggle #ham span:nth-child(2) {
  -webkit-transition-delay: .625s;
          transition-delay: .625s;
}

#menu-toggle #ham span:nth-child(3) {
  -webkit-transition-delay: .75s;
          transition-delay: .75s;
}

#menu-toggle #cross {
  height: 80%;
  width: 80%;
  margin: 15px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
}

#menu-toggle #cross span:nth-child(1) {
  position: absolute;
  height: 0%;
  width: 4px;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  top: 10px;
  left: 20px;
}

#menu-toggle #cross span:nth-child(2) {
  position: absolute;
  width: 0%;
  height: 4px;
  top: 32px;
  left: -2px;
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
}

#menu-toggle.open #ham span {
  width: 0%;
}

#menu-toggle.open #ham span:nth-child(1) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

#menu-toggle.open #ham span:nth-child(2) {
  -webkit-transition-delay: .125s;
          transition-delay: .125s;
}

#menu-toggle.open #ham span:nth-child(3) {
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
}

#menu-toggle.open #cross span:nth-child(1) {
  height: 80%;
  -webkit-transition-delay: .625s;
          transition-delay: .625s;
}

#menu-toggle.open #cross span:nth-child(2) {
  width: 80%;
  -webkit-transition-delay: .375s;
          transition-delay: .375s;
}

header {
  height: 100vh;
}

.video-container {
  width: 100vw;
  position: relative;
  top: 10%;
  overflow-y: hidden;
  overflow-x: hidden;
  position: fixed;
  z-index: -1;
}

video {
  width: 100%;
  height: auto;
  -webkit-animation: fadeInY 1s;
          animation: fadeInY 1s;
}

.video-overlay {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  background: rgba(106, 220, 248, 0.363);
  position: absolute;
  top: 0;
}

#logo {
  position: absolute;
  z-index: 3;
  color: #241710;
  font-family: sans-serif;
  font-size: clamp(90px, 30vw, 270px);
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
  white-space: nowrap;
  word-wrap: nowrap;
  -webkit-animation: fadeIn 3s;
          animation: fadeIn 3s;
}

#logo.apart {
  letter-spacing: 150px;
  color: rgba(0, 0, 0, 0);
  -webkit-filter: blur(7px);
          filter: blur(7px);
}

main {
  height: 250vh;
  background: #241710;
  color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 140%;
  letter-spacing: 110%;
}

#artwork,
.artwork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0;
  height: 160vh;
  width: 100%;
  padding: 0 10vw;
}

.artwork-sections-wrapper {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: florence-sans-shadow;
  color: #241710;
}

#art-3d {
  background-image: url("texture3d.jpg");
  background-size: 100%;
  background-position-y: 100%;
}

#art-3d:hover {
  background-position-y: 1%;
}

#art-2d {
  background-image: url("texture2d.jpeg");
  background-position-y: 100%;
}

#art-2d:hover {
  background-position-x: 70%;
  background-position-y: center;
}

#art-embro {
  background-image: url("texturembro.jpeg");
  background-position-y: 1%;
  background-position-x: 10%;
}

#art-embro:hover {
  background-position-x: center;
  background-position-y: 90%;
}

.artwork-sections-wrapper > a > section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 320px;
  max-width: 500px;
  height: 40vh;
  font-size: 50px;
  line-height: 40px;
  -webkit-filter: grayscale(0.9);
          filter: grayscale(0.9);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.artwork-sections-wrapper > a > section:hover {
  font-size: 300%;
  cursor: pointer;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

h3.artwork,
h3.about {
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  background: none;
  color: rgba(245, 245, 245, 0.337);
  top: 0;
  height: 65vh;
  padding-bottom: 7vh;
  font-size: 30vw;
}

h3.about {
  visibility: hidden;
  padding: 100px 10% 0 10%;
  top: 1600px;
  height: 300px;
}

#about {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about > article {
  max-width: 1200px;
  height: 100%;
}

#about > article > p,
#about > article > picture {
  border: dotted 1px rgba(245, 245, 245, 0.179);
  height: 70vh;
  min-width: 365px;
}

#about > article > p {
  padding: 20vh 10vw 0 10vw;
}

footer {
  height: 10vh;
  background: #2a416e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.attribution {
  font-size: 12px;
  color: #bad9f7;
}

.attribution a {
  text-decoration: underline;
}

h3.artwork-type {
  overflow: hidden;
  position: absolute;
  background: none;
  line-height: 55%;
  text-align: right;
  color: #949494;
  right: 0;
  bottom: 0;
  height: 75vh;
  padding-top: 7vh;
  font-size: 16vw;
  z-index: -1;
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
}

.gallery {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1%;
}

.gallery .thumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  max-width: 200px;
  width: 15vw;
  min-width: 180px;
  background: #241710;
  z-index: 250;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
}

.gallery .thumbs .thumb {
  min-height: 150px;
  cursor: pointer;
  -webkit-filter: grayscale(0.8);
          filter: grayscale(0.8);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 160%;
  background-position-x: center;
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
}

.gallery .thumbs .thumb:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  background-position-y: 25%;
}

.gallery .large {
  padding: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
}

.gallery .large img {
  position: absolute;
  -webkit-filter: opacity(0);
          filter: opacity(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.gallery .large .show-details {
  -webkit-filter: opacity(0);
          filter: opacity(0);
  position: absolute;
  z-index: 400;
  bottom: 45px;
  padding: 5px 20px;
  border: solid 1px whitesmoke;
  border-radius: 4px;
  font-family: hkgrotesk-light;
  color: whitesmoke;
  background: #241710;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.gallery .large .show-details:hover {
  padding: 5px 22px;
  color: #241710;
  background: whitesmoke;
}

.gallery .details {
  -webkit-filter: opacity(0);
          filter: opacity(0);
  position: absolute;
  bottom: 11%;
  left: 50%;
  height: 30%;
  background: #241710;
  color: wheat;
  width: clamp(300px 17vw 500px);
  padding: 1vw;
  overflow-y: scroll;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.visible {
  -webkit-filter: opacity(0.9) !important;
          filter: opacity(0.9) !important;
  z-index: 300;
}

@media screen and (max-width: 1024px) {
  .video-container {
    height: 100vh;
    top: 0;
  }
  video {
    height: 100%;
    width: auto;
  }
  #menu-toggle {
    display: inline-block;
  }
  nav {
    display: none;
    width: 50%;
    height: 55vh;
    right: 0;
    border-left: solid 1px #969696;
  }
  nav ul {
    padding: 60px 0 60px 10vw;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 984px) {
  .artwork-sections-wrapper > section {
    height: 33vh;
  }
}

@media screen and (max-width: 768px) {
  .about > article {
    padding-top: 0;
  }
  nav {
    width: 50%;
    height: 55vh;
    right: 0;
  }
  nav ul {
    padding: 60px 0 60px 10vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #artwork {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  body {
    overflow-x: hidden;
  }
  .gallery {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    overflow-x: hidden;
    padding: 0;
  }
  .gallery .thumbs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
    height: 20vh;
    gap: 2%;
    max-width: none;
    min-width: none;
    width: 100%;
  }
  .gallery .thumbs .thumb {
    height: 100%;
    min-width: 150px;
  }
  .gallery .large {
    width: 100vw;
    height: 80vh;
    overflow-x: hidden;
    padding-bottom: 100px;
  }
  .gallery .large .show-details {
    bottom: 180px;
  }
  .gallery .details {
    bottom: 22%;
  }
  .artwork-sections-wrapper > a > section:nth-child(1), .artwork-sections-wrapper > a > section:nth-child(2), .artwork-sections-wrapper > a > section:nth-child(3) {
    border-left: none;
    border-right: none;
    border-top: solid 1px #615656;
    border-bottom: solid 1px whitesmoke;
  }
}

@media screen and (max-width: 500px) {
  #about > article > p {
    padding: 10vh 10vw 0 10vw;
  }
}

@media screen and (max-width: 1143px) {
  #artwork {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 5vh;
  }
}
/*# sourceMappingURL=index.css.map */